	@media only screen and (min-width: 768px) {
		/*	-------------------------------------------------------
			:: DEMO SHOW SCROLL UP | FOR SCREENS > 767
			------------------------------------------------------- */
			.droopmenu-pinned {
				position: fixed;
				transition: transform 0.6s ease-in-out;
				transform:translateY(0);
				width: 100%;
				top: 0;
			}
			
			.droopmenu-unpinned { transform:translateY(-100%); }
					
	}