
	/*TOP BAR COLOR*/
	.droopmenu-navbar{ background:#00B294; }
	
	/* TOP LEVEL LINK COLORS | HOVER COLOR */
	.droopmenu > li > a,
	.droopmenu > li > span{ color:#fff; }
	.droopmenu li:hover > a{ 
		background:#2C3E50;
		color:#00B294;
	}
	
	/* TOP LEVEL MENU ROUNDED BUTTON */
	.droopmenu > li a.droopmenu-button span{  }	
	.droopmenu li:hover > a.droopmenu-button{  background: none; color: hsla(0, 0%, 100%, 0.6); }
	.droopmenu li > a.droopmenu-button span{  border-color:#fff; }
	.droopmenu li:hover > a.droopmenu-button span{ border-color: hsla(0, 0%, 100%, 0.6); }
	
	/* DROPDOWN | BACKGROUND OR BORDERS  */ 
	.droopmenu li > ul{ 
		background:#2C3E50;
		border-top-color:#2C3E50;	
	}
	
	/* SECOND LEVEL LINKS | COLOR OR BACKGROUND */ 
	.droopmenu li li:hover > a{ color:#00B294; }
	.droopmenu li ul li a{ color:#808BA8; }
	
	/* MOBILE TAB CONTENT BACKGROUND AND BOTTOM BORDER */
	.droopmenu .droopmenu-tabcontent { 
		border-bottom:1px solid #364D63;
		background:#2C3E50;
	}
	
	/* MOBILE TAB HEADER COLOR AND BOTTOM BORDER */
	.droopmenu .droopmenu-tabheader { 
		color:#808BA8; 
		border-bottom-color:#364D63; 	
	}
	
	/* MOBILE ACTIVE TAB HEADER | BACKGROUND AND COLORS */
	.droopmenu .droopmenu-tabheader.droopmenu-tab-active{ background:#364D63; }
	
	/* MOBILE MENU TOGGLE | HAMBURG COLOR  */
	.droopmenu-toggle i:after,
	.droopmenu-toggle i:before{ background: #fff; }
	
	/* MEGA MENU HEADERS + CONTENT PARAGRAPHS | COLOR */
	.droopmenu-col h4,
	.droopmenu .dm-block-title{ color:#00B294;  }
	.droopmenu .droopmenu-content p{ color:#808BA8; }
	
	/* CONTENT LINKS + ICONS | COLOR */
	.droopmenu .droopmenu-content p a,
	.droopmenu .droopmenu-content .dm-small,
	.droopmenu .droopmenu-icon-links li .dm-details span{ color:#00B294; }
	
	 /* CONTENT ICON LINKS | COLORS | BACKGROUND COLOR */
	.droopmenu-col .coldemo{ background:#364D63; color:#808BA8;  }
	.droopmenu .droopmenu-icon-links li .dm-icon-holder{ background-color:#00B294; color:#fff; }
	.demo-row-eq .dm-equalize .droopmenu-col4 .droopmenu-content{ background:#364D63; }
	.droopmenu .droopmenu-icon-links li a:hover ~ .dm-details span{ color:#808BA8; }
	.droopmenu .droopmenu-icon-links li a:hover ~ .dm-icon-holder{ background:#808BA8; }
	
	/* CONTENT BORDERS  */
	.droopmenu .dm-border-right{ border-right-color:#364D63; }
	.droopmenu .dm-border-bottom,
	.droopmenu .dm-bottom-separator{ border-bottom-color:#364D63; }	
	
	/* DECORATIVE ARROWS + SUBMENU BORDERS  */
	.dmpos-bottom .droopmenu li > ul{ }
	.droopmenu li.dmopener .dm-arrow{  border-bottom-color:#fff; }
	.dmarrow-down .droopmenu li.dmopener .dm-arrow{ border-top-color:#00B294; }	 	
	.dmpos-bottom .droopmenu li.dmopener .dm-arrow{ border-top-color:#fff; }
	.dmpos-bottom.dmarrow-down .droopmenu li.dmopener .dm-arrow{ border-bottom-color:#00B294; }
	
	/* TOP HEADER + VERTICAL SIDEBAR SOCIAL ICONS  */
	.droopmenu-extra .droopmenu .droopmenu-social-icons a,
	.droopmenu-vertical .droopmenu-social-icons a:not(.dms-icon){ border-color:#fff; }
	.droopmenu-extra .droopmenu .droopmenu-social-icons a i,
	.droopmenu-vertical .droopmenu-social-icons a:not(.dms-icon) i{  color:#fff; }
	.droopmenu-extra .droopmenu .droopmenu-social-icons a:hover i,
	.droopmenu-vertical .droopmenu-social-icons a:not(.dms-icon):hover i{ color: hsla(0, 0%, 100%, 0.6); }
	.droopmenu-extra .droopmenu .droopmenu-social-icons a:hover,
	.droopmenu-vertical .droopmenu-social-icons a:not(.dms-icon):hover { border-color: hsla(0, 0%, 100%, 0.6); }
	
	/* SITE HERO | OVERLAY */	
	.dm-site-hero:after{
		background: rgba(0,178,148,0.75);
		background: -webkit-linear-gradient(top left,rgba(0,178,148,0.92),rgba(22,83,73,0.92));
		background: -moz-linear-gradient(to bottom right,rgba(0,178,148,0.92),rgba(22,83,73,0.92));
		background: -ms-linear-gradient(to bottom right,rgba(0,178,148,0.92),rgba(22,83,73,0.92));
		background: -o-linear-gradient(to bottom right,rgba(0,178,148,0.92),rgba(22,83,73,0.92));			
		background: linear-gradient(to bottom right,rgba(0,178,148,0.92),rgba(22,83,73,0.92));
	}	
	
					
	@media only screen and (min-width: 768px) {
		/* TAB BACKGROUND COLOR */
		.droopmenu .droopmenu-tabnav { background:#2C3E50; }
		
		/* TAB LINKS COLOR */
		.droopmenu .droopmenu-tabnav a { color:#808BA8; }
		
		/* ACTIVE TAB LINKS COLOR */
		.droopmenu .droopmenu-tabnav a.droopmenu-tab-active { color:#00B294;  }		
		
		/* TAB LINKS ARROW BACKGROUND COLOR  + BORDERS BOTTOM & RIGHT COLORS */
		.droopmenu .droopmenu-tabnav a:after { 
			border-bottom: 1px solid #3A536B;
			border-right: 1px solid #3A536B;
			background-color: #2C3E50;		
		}
		
		/* VERTICAL TABS BACKGROUND */
		.droopmenu .droopmenu-tabs.droopmenu-tabs-vertical .droopmenu-tabnav{  background:#2C3E50; }
		
		/* VERTICAL TABS BORDER LEFT */
		.droopmenu .droopmenu-tabs.droopmenu-tabs-vertical .droopmenu-tabpanel{ border-left: 1px solid #364D63; }
		
		/* TABS PANEL TOP BORDER */
		.droopmenu .droopmenu-tabpanel  { border-top: 1px solid #364D63; }	
		
		
		/* VERTICAL SIDEBAR MENU STYLES */
		.dms-open span i::after,
		.dms-open span i::before,
		.dms-close span i::after,
		.dms-close span i::before  { background-color:#fff; }	
		.dm-site-footer{ color:#fff; }	
		.dmv-search .dmv-search-form { background:rgba(0, 0, 0, .1); }	
		.droopmenu-vertical .droopmenu li:hover > a{ background:transparent;  }
		.droopmenu-vertical-wrapper .droopmenu-vertical .droopmenu li:hover > a{ background:#2C3E50; }
		.dm-site-sidebar .droopmenu > li > a:before { background:#2C3E50; }	
		.dm-site-overlay::before { background-color: rgba(0, 0, 0,0.5); }
		.dm-site-overlay::after { background-color: rgba(0, 0, 0,0.1); }
		.dmv-search .dmv-search-form .dmv-searchmit,
		.dmv-search .dmv-search-form .dmv-search-field { color:#fff; }
		
		.dmv-search .dmv-search-form .dmv-search-field::-webkit-input-placeholder { color:rgba(255, 255, 255, 1); }
		.dmv-search .dmv-search-form .dmv-search-field:-moz-placeholder{ color:rgba(255, 255, 255, 0.5);  }
		.dmv-search .dmv-search-form .dmv-search-field::-moz-placeholder { color:rgba(255, 255, 255, 0.5); }
		.dmv-search .dmv-search-form .dmv-search-field::-ms-input-placeholder { color:rgba(255, 255, 255, 0.5); }
		.dmv-search .dmv-search-form .dmv-search-field:-ms-input-placeholder { color:rgba(255, 255, 255, 0.5); }	
		.dmv-search .dmv-search-form .dmv-search-field::placeholder {  color:rgba(255, 255, 255, 0.5); }
		
		.dmv-search .dmv-search-form:hover .dmv-search-field::-webkit-input-placeholder { color:rgba(255, 255, 255, 1); }
		.dmv-search .dmv-search-form:hover .dmv-search-field:-moz-placeholder{ color:rgba(255, 255, 255, 1);  }
		.dmv-search .dmv-search-form:hover .dmv-search-field::-moz-placeholder { color:rgba(255, 255, 255, 1); }
		.dmv-search .dmv-search-form:hover .dmv-search-field::-ms-input-placeholder { color:rgba(255, 255, 255, 1); }
		.dmv-search .dmv-search-form:hover .dmv-search-field:-ms-input-placeholder { color:rgba(255, 255, 255, 1); }	
		.dmv-search .dmv-search-form:hover .dmv-search-field::placeholder {  color:rgba(255, 255, 255, 1); }
		
		/* SIDEBAR MENU THEME | ADMIN STYLE  */
		.dm-page .droopmenu-header,
		.dm-page .droopmenu-vertical,
		.dm-page .dm-main-header .dm-badge {  background:#00B294; }
		.dm-page.dm-sidebar-left .dm-sidebar .droopmenu-vertical{ border-right-color:#018574; }
		.dm-page.dm-sidebar-right .dm-sidebar .droopmenu-vertical{ border-left-color:#018574; }
		.dm-page .droopmenu > li > a:after {
			border-bottom-color:#fff;
			border-right-color:#fff;
		}
		
		.dm-page .droopmenu > li > a:not(:only-child):after { display:none; }		
		.dm-page .droopmenu > li > a {
			-webkit-box-shadow: inset 1px 0 0 hsla(0, 0%, 0%, 0);
			box-shadow: inset 1px 0 0 hsla(0, 0%, 0%, 0);
		}
		
		.dm-page .droopmenu > li:hover > a{
			-webkit-box-shadow: inset 4px 0 0 hsla(0, 0%, 0%, 0.5);
			box-shadow: inset 4px 0 0 hsla(0, 0%, 0%, 0.5);
			background:#2C3E50;
		}
		
		.dm-page .droopmenu > li.dmh-separator{ 
			border-bottom:1px solid hsla(0, 0%, 100%, 0.45);
			border-top:1px solid hsla(0, 0%, 0%, 0.18);
		}
		
		.dm-page .droopmenu > li > h3{ color:#fff; }
		.dm-page .dm-badge { border-color:#fff; }
		.dm-page .droopmenu li:hover > a .dm-badge{ border-color:#00B294; }	
		
		/* MENU BAR SEARCH ICON REMOVE HIGHLIGHT BG */
		.droopmenu li.droopmenu-open-search a{ color:#fff; }
		.droopmenu li.droopmenu-open-search:hover > a{ 
			background: none;
			color: hsla(0, 0%, 100%, 0.6);
		}												
						
	}		
		
	@media screen and (max-width: 767px) {
	
		/* MOBILE NAVBAR | HEADER */
		.droopmenu-navbar{ background:#2C3E50; }
		.droopmenu-header{ background:#00B294; }
		
		/* MOBILE MENU LINKS | BACKGROUND | COLORS */ 
		.droopmenu > li > a,
		.droopmenu > li > span{ color:#808BA8; }
		.droopmenu li:hover > a{ color:#00B294; }
		
		/* MOBILE MENU LINKS | ACTIVE LINK */ 
		.droopmenu li.dmtoggle-open > a{ color:#00B294;  }
		
		/* MOBILE MENU LINKS | BOTTOM BORDER COLOR */
		.droopmenu > li > a,	
		.droopmenu li ul li a{ border-bottom-color:#364D63; }
		
		/* MOBILE MENU PANEL | TOP BORDER */
		.droopmenu-nav{ border-top-color:#364D63; }			
		
		/* MOBILE MENU EXTRA LINKS */		
		.droopmenu-extra .droopmenu > li > a{ color:#fff; }
		.droopmenu-extra .droopmenu li:hover > a{ color:#00B294; }
		.droopmenu-extra .droopmenu li li:hover > a{ color:#00B294; }
		.droopmenu li:hover > a.droopmenu-button{ color:#fff; }
		
		/* MOBILE MENU EXTRA LINKS | BORDER BOTTOM COLOR */	
		.droopmenu-extra .droopmenu > li > a,	
		.droopmenu-extra .droopmenu li ul li a{ border-bottom-color:#364D63; }
		
		/* MOBILE MENU EXTRA LINKS | ACTIVE LINK */
		.droopmenu-extra .droopmenu li.dmtoggle-open > a{ background-color:#2C3E50; color:#00B294; }			
		
		/* OFFCANVAS | BACKGROUND */
		.droopmenu-offcanvas .droopmenu-nav { background:#2C3E50; }	
		
		/* OFFCANVAS CLOSE PANEL | BACKGROUND | BORDER BOTTOM COLOR */	
		.droopmenu-mclose { background:#2C3E50; border-bottom-color:#364D63; }
		
		/* OFFCANVAS CLOSE ICON COLOR | USE BACKGROUND COLOR */
		.droopmenu-mclose span:before, 
		.droopmenu-mclose span:after { background-color:#808BA8; }
		
		/* EXTRA LINKS + GRID CONTAINER | BORDER BOTTOM COLOR */
		.droopmenu .droopmenu-grid-container,
		.droopmenu-extra .droopmenu > li > a,	
		.droopmenu-extra .droopmenu li ul li a{ border-bottom-color:#364D63; }
		
		/* SIDEBAR MENU THEME | ADMIN STYLE */
		.dm-page .dm-page-title { border-top:0;  }
		.dm-page .droopmenu li > a .dm-badge{ border-color:#808BA8;  }
		.dm-page .droopmenu li:hover > a .dm-badge,
		.dm-page .droopmenu li.dmtoggle-open > a .dm-badge { border-color:#00B294; }
		.dm-page .droopmenu > li > h3 { padding:15px 25px 0 25px; color:#00B294; }					
	}		